
.titleclass {font-size: 20pt; text-align: center;}
.audioclass {text-align: center;}
.imgclass {text-align: center;}
.videoclass {text-align: center;}
.linkclass {font-size: 15pt; text-align:center;}
